
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}  

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}  

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}  

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url(../fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
  font-family: "Playfair-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}  

@font-face {
  font-family: "Playfair-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}  


@font-face {
  font-family: "Playfair";
  src: url("../fonts/PlayfairDisplay6woff2.ttf");
}  

@font-face {
  font-family: "Playfair-Italic";
  src: url("../fonts/PlayfairDisplay-Italic.ttf");
}  


html {
  height: 100%;  
}

body {
  height: 100%;
  /*background-color: #f2f2f2;*/
  width:100%;
}

.todo-cero {
  padding-left: 0px; 
  padding-right: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
}

/* --- SIDEBAR --- */
.sidebar {
  width: 350px;
  font-family: 'Montserrat-Regular', sans-serif ;
  opacity: 0.9;
  display:none; 
  padding-top:80px; 
  right:0; 
  z-index:2; 
}

.sidebar-burger {
  font-size: 2.2rem;
  padding: 8px 20px;
  color:#c4b3a4;
}

.sidebar-burger:hover {
  color:#f5c9ae !important;
  background-color:#000!important;
}

.sidebar-icono-close {
  font-size: 2.2rem;
  color:#c4b3a4;
  padding:20 12px;   
}

.sidebar-icono-close:hover {
  color:#f5c9ae !important;
  background-color:#000!important;
  font-weight: bold; 
}
    
.sidebar-item {
  font-family: 'Montserrat-Regular', sans-serif ;
  font-size: 1rem;  
}

.sidebar-item::after{
  font-family: 'Montserrat-Regular', sans-serif ;
  font-size: 1rem;  
  display:block;
  content: '';
  border-bottom: solid 2px #c4b3a4;  
  transform: scaleX(0);  
  transition: transform 800ms ease-in-out;
}

.sidebar-item:hover:after {
  transform: scaleX(1);
}

.sidebar-item:hover {
  font-family: 'Montserrat-Regular', sans-serif ;  
  font-weight: bold;
  color:#eeb490 !important;
  background-color:#000!important;
}

/* --- HOME --- */
.barra-home {
  background-color: #cabcae; 
  height: 150px; 
}

.foto-home {
  position: absolute; 
  top: 0px; 
  right: 0px; 
  width:50%;
}

.texto-home {
  position: absolute;
  top: 340px;
  left: 120px; 
  font-family: Playfair-Regular; 
  font-size: 2.7rem; 
  line-height: 1.1;
}

.subtexto-home {
  position: absolute;
  top: 500px;
  left: 120px; 
  font-family: Montserrat-Regular; 
  font-size: 1rem; 
  line-height: 1.2;
  letter-spacing: 2px;
}

.subsubtexto-home {
  position: absolute;
  top: 530px;
  left: 120px; 
  font-family: Montserrat-Regular; 
  font-size: 0.8rem; 
  line-height: 1.2;
}

.linea-botones-home {
  position: absolute;
  top: 600px;
  left: 120px;    
  width: 33%;
}


.boton-argentina {    
  width: 200px;
  background-color: rgb(36, 34, 34);
  font-family: Montserrat-Regular; 
  color: white !important;
}

  
.boton-argentina:focus {
  outline:none !important;
  box-shadow: none !important;
}

.boton-argentina:hover {
  outline:none !important;
  box-shadow: none !important;
}

.boton-portugal {   
  width: 200px;
  background-color: rgb(204, 196, 196);
  font-family: Montserrat-Regular; 
  color: black !important;    
}

.boton-portugal:focus {
  background-color: rgb(170, 157, 157);
  color: white !important;
  outline:none !important;
  box-shadow: none !important;
}

.boton-portugal:hover {
  background-color: rgb(170, 157, 157);
  color: white !important;
  outline:none !important;
  box-shadow: none !important;
}

.linea-hr-home {
  position: absolute;
  top: 650px;
  left: 120px;   
  width: 33%;
}

.linea-redes-home {
  position: absolute;
  top: 690px;
  left: 120px;    
  font-family: Montserrat-Regular; 
  font-size: 1.2rem; 
  color: gray;
  width: 33%;
}

.link-icono-redes {
  text-decoration: none;  
}

.link-icono-redes:hover {
  text-decoration: none;
  color: #242222;
}

.icono-redes {
  font-size: 1.3rem;
}


/*---- SOMOS -----*/

.somos {
  background-image: url('../images/fondoSomos.png') !important;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 10px;
  padding-bottom: 120px;
  background-color: #f2f2f2;
}


.barra-somos {
  background-color: #cabcae; 
  height: 150px; 
  font-family: 'Montserrat-ExtraLight', sans-serif ;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 2%;
  color: aliceblue;
}

.subrayadoDoradoSomos {
  background-image: linear-gradient(to right, #a4784a,#dbb183, #a4784a);
  height: 2px;
  max-width: 13%;
  margin: 1px auto 0 auto;
  padding: 0;
}

.contenedor-video {
  background-color: #cabcae; 
  text-align: center; 
  padding-top: 40px; 
  margin-top: 0px; 
  margin-bottom: 0px;
}

.video {
  padding-top:0px; 
  padding-bottom: 40px !important;
}

.separador-video {
  height: 90px;
}

.logo-somos {
  margin-top:46px; 
  text-align: center;
}

.logo-AA {
  margin-top:40px; 
  text-align: center;
}

.texto-somos-1 {
  margin-top: 40px; 
  font-family: Playfair-Regular; 
  font-size: 1.3rem; 
  text-align: center; 
  line-height: 1.2;
}

.texto-somos-2 {
  margin-top: 5px; 
  font-family: Montserrat-Light; 
  font-size: 1.3rem; 
  text-align: center; 
  line-height: 1.2;
}
 /* --- CALIDAD --- */
.barra-flecha {
  text-align: center; 
  padding-top: 40px; 
  padding-bottom: 40px;
}

.video_play {
  width:1000px !important;
}

.alto_imagen_1 {
  height: 80px;
}

.alto_imagen_2 {
  height: 120px;
}

.alto_imagen_3 {
  height: 90px;
}

/* --- PRODUCTOS ---*/
.productosYcontacto {
  background-image: url('../images/fondo4_ProductosContacto.png') !important;
  background-repeat: no-repeat;
  background-size: cover;    
  height: 120vmax;
}

.barra-productos {
  background-color: transparent; 
  height: 150px; 
  font-family: 'Montserrat-ExtraLight', sans-serif ;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 2%;
  color: aliceblue;   
}

.titulo-productos {
  text-decoration: none;
}

.titulo-productos:hover {
  text-decoration: none;
  color: aliceblue;   
}

.cuadrado-standard {
  margin: 80px; 
  width:400px; 
  height: 400px;  
  background-color: #cabcae; 
  font-size: 2.2rem; 
  line-height: 2.5rem;
  color: aliceblue; 
  font-family: 'Montserrat-Light', sans-serif ;
  padding-top: 12%;   
  padding-bottom: 13%; 
  border: 5px solid;
  border-image: linear-gradient(45deg, #a4784a,#dbb183, #a4784a) 1;
}

.titulo-standard {
  text-decoration: none;    
}

.titulo-standard:hover {
  color:rgb(54, 52, 52) !important;
  font-weight: bold;
}

.cuadrado-garantia {
  margin: 80px; 
  width:400px; 
  height: 400px; 
  background-color: #cabcae; 
  font-size: 2.2rem; 
  line-height: 2.5rem;
  color: aliceblue; 
  font-family: 'Montserrat-Light', sans-serif ;
  padding-top: 12%;   
  padding-bottom: 11%; 
  border: 5px solid;
  border-image: linear-gradient(45deg, #a4784a,#dbb183, #a4784a) 1;
}

.titulo-garantia {
  text-decoration: none;
}

.titulo-garantia:hover {
  color:rgb(54, 52, 52) !important;
  font-weight: bold;
}

.pi {
  animation-name: pi-animation;
  animation-duration: 3s;
  animation: pi-animation 3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes pi-animation {
  
  0%{ margin-top: 0;}
  100% {margin-top: -30px;}
}

.sub-links {
  animation-name: sub-animation;
  animation-duration: 2s;
  animation: sub-animation 2s;
  animation-timing-function: ease-out; 
}

@keyframes sub-animation {
  
  0%{ color: transparent;}
  30%{ color: transparent;}
  60%{ color: transparent;}
  100% { color: aliceblue;}
}

.link-cuadrado-producto {
  font-size: 1.2rem !important; 
  text-decoration: none;

}

.link-cuadrado-producto:hover {
  font-size: 0.9rem !important; 
  text-decoration: none;
  color:rgb(54, 52, 52) !important;    
}

.flecha-atras:hover {
  color: #dbb183;
}

.espacio-bajo-titulo {
  display:flex; 
  justify-content: center;    
  padding-top: 25px;
}


@keyframes fade_in_show {
  0% {
        opacity: 0;
        transform: scale(0)
  }

  100% {
        opacity: 1;
        transform: scale(1)
  }
}

.contenedor-sublinks {
  line-height: 2.5rem; 
  margin-top: 10px;
}

/***** TARJETA BLANCA ********/
.contenedor-tarjeta-corcho {
  display:flex; 
  justify-content: center; 
  color: aliceblue;
  font-family: 'Montserrat-Light', sans-serif ;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.tarjeta-blanca {
    width: 20rem; 
    height: 36rem; 
    margin-left:1rem !important; 
    margin-right:1rem !important;
    padding: 0.8rem;
    background-color: #F2F2F2;
}


.texto-tarjeta-blanca {
  font-family: 'Montserrat-Regular';
  color:black;
  font-size: 1rem;
  text-align: start !important;
}

.titulo-tarjeta-blanca {
  font-family: 'Playfair-Regular';
  color:black;
  font-size: 1.5rem;
  text-align: start !important;
}

.subrayadoDoradoTapon {
  background-image: linear-gradient(to right, #a4784a,#dbb183, #FFFFFF);
  height: 2px;
  max-width: 30%;
  margin: 1px 0 auto;
  padding: 0;
}

.footer-tarjeta-blanca {
  display: flex; 
  justify-content: space-between; 
  margin-bottom:10px; 
  border:0px; 
  background-color: #F2F2F2;
}

.boton-corcho {
  width: 100px;
  background-color: #cabcae; 
  font-family: 'Montserrat-Regular'; 
  color: black !important;        
}


  /**** FICHA ****/

  .ficha {
    background-image: url('../images/fondoFicha.png') !important;
    background-repeat: no-repeat;
    background-size:contain ;  
    background-color: #f2f2f2;
  }

  .ficha-tapon {
    position: absolute;
    top: 50px;
    left: 570px;
  }

  .barra-ficha {
    font-family: 'Montserrat-Light';
    height: 60px;
    width: 100%;
    background-color: #cabcae; 
    padding: 2%;
    margin-top: 0px;   
    color: white; 
    text-align: end;
    font-size: 1.3rem;
    opacity: 0.7;
  }

  .ficha-titulo {
    padding-left: 8%; 
    font-family: 'Playfair-Regular'; 
    font-size: 2rem; 
    text-align: start;  
    margin-top: 18%; 
    width:70%;  
  }

  .subrayadoDoradoFicha {
    background-image: linear-gradient(to right, #a4784a,#dbb183, #a4784a);
    height: 7px;
    max-width: 30%;
    padding-top: 0px;
    margin-top: 0px;
    
  }

  .ficha-texto1 {  
    padding-left: 8%; 
    font-family: 'Playfair-Italic'; 
    font-size: 1rem;
    text-align: start;    
    letter-spacing: 0.8px;
    padding-right: 30%;
  }

  .ficha-texto2 {
    padding-left: 8%; 
    font-family: 'Montserrat-Light'; 
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: start;
    padding-right: 30%;
    }

    .ficha-titulo-calidad {
      padding-left: 8%; 
      font-family: 'Playfair-Bold'; 
      font-size: 1rem;
      text-align: start;
      line-height: 0.5px;
    }

    .ficha-titulo-medidas {
      padding-left: 12%; 
      font-family: 'Playfair-Bold'; 
      font-size: 1rem;
      text-align: start;
      line-height: 0.5px;
    }

    .ficha-AA {
      width: 30%; 
      text-align: end; 
      margin-right: 4%; 
      margin-bottom: 0%;
    }
  
  /*--- CONTACTO --- */

  .linea-iconos-contacto {      
    text-align: center;
    color: #f2f2f2; 
    font-size: 3rem; 
    letter-spacing: 30px;
    width:100%;    
    margin-top: 2%;
  }

 
  .link-icono-contacto {
    text-decoration: none;
  }

  .link-icono-contacto:hover {
    text-decoration: none;
    color: #242222;
  }

  .icono-contacto {
    width:45px;
    height: 45px;
  }
  
  .icono-contacto:hover {
    color:#eeb490;
  }

  .zoom {
    transition: transform .8s; 
  }

  .zoom:hover {
     transform: scale(1.5);      
  }

  


/*************** CELULAR *******************/

@media screen and (max-width: 768px) {

  /* ------- SIDEBAR ------ */
  .sidebar {
    width: 250px;
    font-family: 'Montserrat-Regular', sans-serif ;
    opacity: 0.9;
  }

  .sidebar-icono-close {
    font-size: 1.2rem;
    padding-top:10px;
    padding-right: 20px; 
  }
  
  .sidebar-item {
      font-size: 0.7rem;
    }

  .sidebar-subitem {
      font-size: 0.6rem;
      margin-left: 15%;
  }

  .sidebar-burger {
      font-size: 1.2rem;
      padding-top:10px;
      padding-right: 10px;
    }

  /* --- HOME --- */ 
  .barra-home {
    height: 70px;    
  }

  .foto-home {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    width:50%;
  }
 
  .texto-home {
    position: absolute;
    top: 12%;
    left: 37px; 
    font-family: Playfair-Regular; 
    font-size: 1rem; 
    line-height: 1.2;
  }

  .subtexto-home {
    display: none;
  }

  .subsubtexto-home {
    display: none;
  }

  .linea-botones-home {
    position: absolute;
    top: 20%;
    left: 37px;    
    width: 35%;
  }


  .boton-argentina { 
    width: 95%;  
    height: 25px;
    background-color: #242222;
    font-size: 0.4rem;    
    margin-top: 15px;
  }

  .boton-portugal {
    width: 95%;    
    height: 25px;
    background-color: rgb(204, 196, 196);    
    font-size: 0.4rem;    
    margin-top: 15px;
  }
  
  .linea-hr-home {
    display: none;
  }

  .linea-redes-home {
    position: absolute;
    top: 27%;
    left: 37px;    
    font-size: 0.5rem; 
    width: 35%;
  }

  .icono-redes {
    font-size: 0.6rem;
  }

  /* --- SOMOS ---*/
  .somos {
    padding-bottom: 20px;
  }

  .barra-somos {
    height: 70px;
    font-size: 1.2rem;
    padding-top: 5%;
  }

  .subrayadoDoradoSomos {    
    height: 1px;
    max-width: 13%;
  }
  
  .contenedor-video {
    background-color: #cabcae; 
    text-align: center; 
    padding-top: 10px; 
    margin-top: 0px; 
    margin-bottom: 0px;
  }
  
  .video {
    padding-top:0px; 
    padding-bottom: 50px !important;
  }

  .separador-video {
    height: 0px;
  }

  .logo-somos {
    margin-top:8px;    
  }

  .logo-AA {
    margin-top:20px;     
  }

  .texto-somos-1 {
    margin-top: 20px; 
    font-family: Playfair-Regular; 
    font-size: 0.7rem; 
    text-align: center; 
    line-height: 1.2;
  }

  .texto-somos-2 {
    margin-top: 5px; 
    font-family: Montserrat-Light; 
    font-size: 0.7rem; 
    text-align: center; 
    line-height: 1.2;
  }

  /* --- CALIDAD ---*/
  .barra-flecha {
    padding-top: 20px; 
    padding-bottom: 20px;
  }

  .video_play {
    width:300px !important;
  }

  .alto_imagen_1 {
    height: 25px;
  }

  .alto_imagen_2 {
    height: 25px;
  }

  .alto_imagen_3 {
    height: 25px;
  }

  /* --- PRODUCTOS ---- */
  .productosYcontacto {
    background-image: url('../images/fondo4_ProductosContacto.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;  
    height:67vmax;
  }

  .barra-productos {
    background-color: transparent; 
    height: 70px;
    font-size: 1.2rem;
    padding-top: 5%;
  }


  .cuadrado-standard {
    margin: 25px; 
    width:130px; 
    height: 130px;  
    font-size: 1rem; 
    line-height: 1rem;
    padding-top: 50px;   
    /*padding-bottom: 5%;     */
  }

  .cuadrado-garantia {
    margin: 25px; 
    width:130px; 
    height: 130px;  
    font-size: 1rem; 
    line-height: 1.2rem;
    padding-top: 45px;  
  }

  .contenedor-sublinks {
    line-height: 1.5rem; 
    margin-top: 5px;
  }

  .link-cuadrado-producto {
    font-size: 0.7rem !important;     
  }
  
  .link-cuadrado-producto:hover {
    font-size: 0.7rem !important; 
  }

  .espacio-bajo-titulo {
    padding-top: 20px;
  }
  
  .contenedor-tarjeta-corcho {
    display:flex; 
    justify-content: center; 
    color: aliceblue;
    font-family: 'Montserrat-Light', sans-serif ;
    font-size: 1rem;
    letter-spacing: 2px;    
  }

  .imagen-tapon {
    width: 70px;
  }

  /* --- FICHA ---*/

  .ficha-titulo {
    padding-left: 8%;     
    font-size: 1.5rem; 
    text-align: start;    
  }

  .ficha-AA {
    display: none;
  }

  .barra-ficha {
    height: 60px;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 0.9rem;    
    text-align: start;
  }

   /* --- CONTACTO ---- */

  .icono-contacto {
    width:25px;
    height: 25px;
  }

  .linea-iconos-contacto {      
    font-size: 2rem; 
    letter-spacing: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }  

}
/*
@media screen and (min-width:537px) and (max-width: 768px) {

    .sidebar-item {
      font-size: 1.1rem;
    }

    .sidebar-burger {
      font-size: 1.3rem;
      padding:10px 15px;
    }
}
*/


/*--------- PANTALLA MUY GRANDE ------------*/
@media screen and (min-width:1441px) {

  .sidebar-item {
    font-size: 1.5rem;
  }

  .sidebar-burger {
    font-size: 3rem;
    padding:10px 25px;
  }

  .texto-home {
    position: absolute;
    top: 478px;
    left: 170px; 
    font-family: Playfair-Regular; 
    font-size: 4rem; 
    line-height: 1.2;
  }

  .subtexto-home {
    position: absolute;
    top: 730px;
    left: 170px; 
    font-family: Montserrat-Regular; 
    font-size: 1.5rem; 
    line-height: 1.2;
    letter-spacing: 2px;
  }

  .subsubtexto-home {
    position: absolute;
    top: 770px;
    left: 170px; 
    font-family: Montserrat-Regular; 
    font-size: 1.1rem; 
    line-height: 1.2;
  }

  .linea-botones-home {
    position: absolute;
    top: 870px;
    left: 170px;    
    width: 33%;
  }

  .boton-argentina {   
    width: 250px;
    height: 50px; 
    font-size: 1.4rem;
  }
 

  .boton-portugal {    
    width: 250px;   
    height: 50px; 
    font-size: 1.4rem;
  }

  .linea-hr-home {
    position: absolute;
    top: 950px;
    left: 170px;   
    width: 33%;
  }

  .linea-redes-home {
    position: absolute;
    top: 1050px;
    left: 170px;    
    font-size: 1.3rem; 
    width: 33%;
  }

  .icono-redes {
    font-size: 2rem;
  }

  /*------ SOMOS ------*/
  .barra-somos {    
    height: 200px; 
    font-size: 4.2rem;    
    padding-top: 70px;  
  }

  .subrayadoDoradoSomos {    
    height: 2px;
    max-width: 9%;
  }

  .texto-somos-1 {
    margin-top: 80px; 
    font-family: Playfair-Regular; 
    font-size: 1.7rem; 
    text-align: center; 
    line-height: 1.4;
  }
  
  .texto-somos-2 {
    margin-top: 5px; 
    font-family: Montserrat-Light; 
    font-size: 1.7rem; 
    text-align: center; 
    line-height: 1.4;
  }

  .logo-AA {
    margin-top:50px;     
  }

  .separador-video {
    height: 150px;
  }
  
  /* --- PRODUCTOS --- */
  .barra-productos {    
    height: 200px; 
    font-size: 4.2rem;    
    padding-top: 70px;  
  }

  .cuadrado-standard {
    margin: 100px; 
    width:600px; 
    height: 600px;  
    font-size: 3.8rem; 
    line-height: 4rem;
    padding-top: 250px;       
  }

  .cuadrado-garantia {
    margin: 100px; 
    width:600px; 
    height: 600px;  
    font-size: 3.8rem; 
    line-height: 4.5rem;
    padding-top: 210px;  
  }

  .contenedor-sublinks {
    line-height: 3.5rem; 
    margin-top: 20px;
  }

  .link-cuadrado-producto {
    font-size: 2rem !important;     
  }

  .link-cuadrado-producto:hover {
    font-size: 2rem !important; 
  }
  
  .espacio-bajo-titulo {
    padding-top: 100px;
  }

  .contenedor-tarjeta-corcho {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  /*--- FICHA ---*/
  .barra-ficha {
    height: 80px;
    padding: 2%;
    font-size: 1.7rem;    
  }

  .ficha-titulo {
    font-size: 2.5rem;
  }

  .ficha-texto1 {  
    font-size: 1.5rem;    
  }

  .ficha-texto2 {
    font-size: 1.2rem;    
    }

  .ficha-titulo-calidad {      
      font-size: 1.5rem;      
    }

  .ficha-titulo-medidas {       
      font-size: 1.5rem;      
    }

  /* --- CONTACTO --- */


  /* --- SIDEBAR --- */
  .sidebar-icono-close {
    font-size: 2.2rem;
    padding-top:20px;
    padding-right: 30px; 
  }
}
