
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}  

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}  

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}  

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url(../fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
  font-family: "Playfair-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}  

@font-face {
  font-family: "Playfair-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}  


@font-face {
  font-family: "Playfair";
  src: url("../fonts/PlayfairDisplay6woff2.ttf");
}  

@font-face {
  font-family: "Playfair-Italic";
  src: url("../fonts/PlayfairDisplay-Italic.ttf");
}  


html {
  height: 100%;  
}

body {
  height: 100%;
  /*background-color: #f2f2f2;*/
  width:100%;
}

.todo-cero {
  padding-left: 0px; 
  padding-right: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
}

.barra-home {
  background-color: #cabcae; 
  height: 150px; 
}

.foto-home {
  position: absolute; 
  top: 0px; 
  right: 0px; 
  width:50%;
}

/*.logo-home {
    position: absolute;
    top: 0px;
    left: 120px;
    height: 168px;    
  }

  /*.ARG {
    position: absolute; 
    top: 250px; 
    left: 100px; 
    height: 165px;
  }*/

  .texto-home {
    position: absolute;
    top: 340px;
    left: 120px; 
    font-family: Playfair-Regular; 
    font-size: 2.7rem; 
    line-height: 1.1;
  }

  .subtexto-home {
    position: absolute;
    top: 500px;
    left: 120px; 
    font-family: Montserrat-Regular; 
    font-size: 1rem; 
    line-height: 1.2;
    letter-spacing: 2px;
  }

  .subsubtexto-home {
    position: absolute;
    top: 530px;
    left: 120px; 
    font-family: Montserrat-Regular; 
    font-size: 0.8rem; 
    line-height: 1.2;
  }

  .boton-argentina {
    position: absolute;
    top: 600px;
    left: 120px;
    width: 200px;
    background-color: rgb(36, 34, 34);
    font-family: Montserrat-Regular; 
    color: white !important;
  }

   
  .boton-argentina:focus {
    outline:none !important;
    box-shadow: none !important;
  }

  .boton-argentina:hover {
    outline:none !important;
    box-shadow: none !important;
  }

  .boton-portugal {
    position: absolute;
    top: 600px;
    left: 370px;
    width: 200px;
    background-color: rgb(204, 196, 196);
    font-family: Montserrat-Regular; 
    color: black !important;    
  }
 
  .boton-portugal:focus {
    background-color: rgb(170, 157, 157);
    color: white !important;
    outline:none !important;
    box-shadow: none !important;
  }

  .boton-portugal:hover {
    background-color: rgb(170, 157, 157);
    color: white !important;
    outline:none !important;
    box-shadow: none !important;
  }

  .linea-redes-home {
    position: absolute;
    top: 700px;
    left: 120px;    
    font-family: Montserrat-Regular; 
    font-size: 1.1rem; 
    color: gray;
  }

  .somos {
    background-image: url('../images/fondoSomos.png') !important;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 130px;
    background-color: #f2f2f2;
  }



  .barra-somos {
    background-color: #cabcae; 
    height: 150px; 
    font-family: 'Montserrat-ExtraLight', sans-serif ;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 2%;
    color: aliceblue;
  }


  .subrayadoDoradoSomos {
    background-image: linear-gradient(to right, #a4784a,#dbb183, #a4784a);
    height: 2px;
    max-width: 13%;
    margin: 1px auto 0 auto;
    padding: 0;
  }

  .logo-somos {
    margin-top:70px; 
    text-align: center;
  }

  .logo-AA {
    margin-top:40px; 
    text-align: center;
  }

  .texto-somos-1 {
    margin-top: 40px; 
    font-family: Playfair-Regular; 
    font-size: 1.3rem; 
    text-align: center; 
    line-height: 1.2;
  }

  .texto-somos-2 {
    margin-top: 5px; 
    font-family: Montserrat-Light; 
    font-size: 1.3rem; 
    text-align: center; 
    line-height: 1.2;
  }

  .barra-productos {
    background-color: transparent; 
    height: 150px; 
    font-family: 'Montserrat-ExtraLight', sans-serif ;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 2%;
    color: aliceblue;   
  }

  .barra-flecha {
    text-align: center; 
    padding-top: 40px; 
    padding-bottom: 40px;
  }

  .video_play {
    width:1000px !important;
  }

  .alto_imagen_1 {
    height: 80px;
  }

  .alto_imagen_2 {
    height: 50px;
  }

  .alto_imagen_3 {
    height: 90px;
  }

  .productosYcontacto {
    background-image: url('../images/fondo4_ProductosContacto.png') !important;
    background-repeat: no-repeat;
    background-size: 100%;    
  }

  .titulo-productos {
    text-decoration: none;
  }

  .titulo-productos:hover {
    text-decoration: none;
    color: aliceblue;   
  }


  .cuadrado-standard {
    margin: 80px; 
    width:400px; 
    height: 400px;  
    background-color: #cabcae; 
    font-size: 2.2rem; 
    line-height: 2.5rem;
    color: aliceblue; 
    font-family: 'Montserrat-Light', sans-serif ;
    padding-top: 12%;   
    padding-bottom: 13%; 
    border: 5px solid;
    border-image: linear-gradient(45deg, #a4784a,#dbb183, #a4784a) 1;
    
    /*border-radius: 5px;*/
  }

  .titulo-standard {
    text-decoration: none;    
  }

  .titulo-standard:hover {
    color:rgb(54, 52, 52) !important;
    font-weight: bold;
  }

  .cuadrado-garantia {
    margin: 80px; 
    width:400px; 
    height: 400px; 
    background-color: #cabcae; 
    font-size: 2.2rem; 
    line-height: 2.5rem;
    color: aliceblue; 
    font-family: 'Montserrat-Light', sans-serif ;
    padding-top: 12%;   
    padding-bottom: 11%; 
    border: 5px solid;
    border-image: linear-gradient(45deg, #a4784a,#dbb183, #a4784a) 1;
  }

  .titulo-garantia {
    text-decoration: none;
  }

  .titulo-garantia:hover {
    color:rgb(54, 52, 52) !important;
    font-weight: bold;
  }

  .pi {
    animation-name: pi-animation;
    animation-duration: 3s;
    animation: pi-animation 3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  @keyframes pi-animation {
    
    0%{ margin-top: 0;}
    100% {margin-top: -30px;}
  }
  
  .sub-links {
    animation-name: sub-animation;
    animation-duration: 2s;
    animation: sub-animation 2s;
    animation-timing-function: ease-out; 
  }
  
  @keyframes sub-animation {
    
    0%{ color: transparent;}
    30%{ color: transparent;}
    60%{ color: transparent;}
    100% { color: aliceblue;}
  }

  .link-cuadrado-producto {
    font-size: 1.2rem !important; 
    text-decoration: none;

  }

  .link-cuadrado-producto:hover {
    font-size: 1.2rem !important; 
    text-decoration: none;
    color:rgb(54, 52, 52) !important;    
  }

  .flecha-atras:hover {
    color: #dbb183;
  }

  .imagenes-productos {    
    padding-top: 20px;
  }

  .imagen-tapon {
    width:240px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .fondo-card-producto {
    height: 600px;      
  }

  @keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}

  .tarjeta-corcho {
    display:flex; 
    justify-content: center; 
    color: aliceblue;
    font-family: 'Montserrat-Light', sans-serif ;
    font-size: 1.7rem;
    letter-spacing: 2px;
  }

  .texto-card-tapon {
    font-family: 'Montserrat-Regular';
    color:black;
    font-size: 1rem;
    text-align: start !important;
  }

  .titulo-card-tapon {
    font-family: 'Playfair-Regular';
    color:black;
    font-size: 1.5rem;
    text-align: start !important;
  }

  .subrayadoDoradoTapon {
    background-image: linear-gradient(to right, #a4784a,#dbb183, #FFFFFF);
    height: 2px;
    max-width: 30%;
    margin: 1px 0 auto;
    padding: 0;
  }

  .boton-corcho {
    width: 100px;
    background-color: #cabcae; 
    font-family: 'Montserrat-Regular'; 
    color: black !important;        
  }

  .boton-corcho-atras {
    width: 50px;
    background-color: #cabcae; 
    font-family: 'Montserrat-Regular'; 
    color: black !important;            
  }

  .ficha {
    background-image: url('../images/fondoFicha.png') !important;
    background-repeat: no-repeat;
    background-size:contain ;  
    background-color: #f2f2f2;
  }

  .ficha-tapon {
    position: absolute;
    top: 50px;
    left: 570px;
  }

  .ficha-titulo {
    padding-left: 5%; 
    font-family: 'Playfair-Regular'; 
    font-size: 2rem; 
    text-align: start;    
  }

  .subrayadoDoradoFicha {
    background-image: linear-gradient(to right, #a4784a,#dbb183, transparent);
    height: 2px;
    max-width: 30%;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 5%;
  }

  .ficha-texto1 {  
    padding-left: 5%; 
    font-family: 'Playfair-Italic'; 
    font-size: 1.2rem;
    text-align: start;
    padding-right: 10%;
  }

  .ficha-texto2 {
    padding-left: 5%; 
    font-family: 'Montserrat-Light'; 
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: start;
    padding-right: 10%;
    }
  
       /*--------- CONTACTO -----------*/

  .linea-iconos-contacto {
    text-align: center;
    color: #f2f2f2; 
    font-size: 3rem; 
    letter-spacing: 10px;
    width:100%;
    padding-top: 390px; 
    /*padding-bottom: 500px;*/
  }

  .link-icono-contacto {
    text-decoration: none;
  }

  .link-icono-contacto:hover {
    text-decoration: none;
    color: #242222;
  }


  .icono-contacto {
    width:45px;
    height: 45px;
  }

  
  .icono-contacto:hover {
    color:#eeb490;
  }

  .separador-contacto {
    height: 850px;
  }

  .zoom {
    transition: transform .8s; 
  }

  .zoom:hover {
     transform: scale(1);      
  }

.sidebar {
  width: 350px;
  font-family: 'Montserrat-Regular', sans-serif ;
  opacity: 0.9;
  display:none; 
  padding-top:80px; 
  right:0; 
  z-index:2; 
}

.sidebar-burger {
  font-size: 2.2rem;
  padding: 8px 20px;
  color:#c4b3a4;
}

.sidebar-burger:hover {
  color:#f5c9ae !important;
  background-color:#000!important;
}

.sidebar-icono-close {
  font-size: 2.2rem;
  color:#c4b3a4;
  padding:20 12px;   
}

.sidebar-icono-close:hover {
  color:#f5c9ae !important;
  background-color:#000!important;
  font-weight: bold; 
}
    
.sidebar-item {
  font-family: 'Montserrat-Regular', sans-serif ;
  font-size: 1rem;  
}

.sidebar-item::after{
  font-family: 'Montserrat-Regular', sans-serif ;
  font-size: 1rem;  
  display:block;
  content: '';
  border-bottom: solid 2px #c4b3a4;  
  transform: scaleX(0);  
  transition: transform 800ms ease-in-out;
}

.sidebar-item:hover:after {
  transform: scaleX(1);
}

.sidebar-item:hover {
  font-family: 'Montserrat-Regular', sans-serif ;  
  font-weight: bold;
  color:#eeb490 !important;
  background-color:#000!important;
}


/* ----------- CELULAR ----------------------*/

@media screen and (max-width: 768px) {

  .barra-home {
    height: 70px;    
  }

  .foto-home {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    width:50%;
  }

  /*.logo-home {
    position: absolute;
    top: 0px;
    left: 30px;
    height: 70px;
    width: 77px;
  }

  .ARG {
    position: absolute; 
    top: 100px; 
    left: 30px; 
    height: 60px;
  }*/

  
  .texto-home {
    position: absolute;
    top: 104px;
    left: 37px; 
    font-family: Playfair-Regular; 
    font-size: 1rem; 
    line-height: 1.2;
  }

  .subtexto-home {
    display: none;
  }

  .subsubtexto-home {
    display: none;
  }

  .boton-argentina {
    position: absolute;
    top: 190px;
    left: 37px;
    width: 65px;
    height: 25px;
    background-color: #242222;
    font-family: Montserrat-Regular; 
    font-size: 0.5rem;
    color: white !important;
    margin-top: 15px;
  }

  .boton-portugal {
    position: absolute;
    top: 190px;
    left: 115px;
    width: 65px;
    height: 25px;
    background-color: rgb(204, 196, 196);
    font-family: Montserrat-Regular; 
    font-size: 0.5rem;
    color: black !important;
    margin-top: 15px;
  }
  

  .linea-redes-home {
    display: none;
  }

  .somos {
    padding-bottom: 20px;
  }

  .barra-somos {
    height: 70px;
    font-size: 1.2rem;
    padding-top: 5%;
  }

  .subrayadoDoradoSomos {    
    height: 1px;
    max-width: 13%;
  }
  
  .logo-somos {
    margin-top:8px;    
  }

  .logo-AA {
    margin-top:20px;     
  }

  .texto-somos-1 {
    margin-top: 20px; 
    font-family: Playfair-Regular; 
    font-size: 0.7rem; 
    text-align: center; 
    line-height: 1.2;
  }

  .texto-somos-2 {
    margin-top: 5px; 
    font-family: Montserrat-Light; 
    font-size: 0.7rem; 
    text-align: center; 
    line-height: 1.2;
  }

  .barra-flecha {
    padding-top: 20px; 
    padding-bottom: 20px;
  }

  .video_play {
    width:300px !important;
  }

  .alto_imagen_1 {
    height: 25px;
  }

  .alto_imagen_2 {
    height: 10px;
  }

  .alto_imagen_3 {
    height: 30px;
  }

  .barra-productos {
    background-color: transparent; 
    height: 70px;
    font-size: 1.2rem;
    padding-top: 5%;
  }

  .cuadrado-standard {
    margin: 30px; 
    width:26%; 
    height: 40%;  
    font-size: 1rem;     
    padding-top: 13%;   
    padding-bottom: 13%; 
  }


  .cuadrado-garantia {
    margin: 30px; 
    width:130px; 
    height: 130px; 
    background-color: #cabcae; 
    font-size: 1rem; 
    color: aliceblue; 
    font-family: 'Montserrat-Light', sans-serif ;
    padding-top: 13%;   
    padding-bottom: 13%; 
  }


  .link-cuadrado-producto {
    font-size: 0.7rem !important;     
  }

  .imagenes-productos {
    text-align:center; 
    padding-top: 5px;
  }

  
  .tarjeta-corcho {
    display:flex; 
    justify-content: center; 
    color: aliceblue;
    font-family: 'Montserrat-Light', sans-serif ;
    font-size: 1rem;
    letter-spacing: 2px;    
  }

  .imagen-tapon {
    width: 70px;
  }

  .linea-iconos-contacto {
    font-size: 1rem; 
    letter-spacing: 5px;
    padding-top: 130px;    
    
  }

  .icono-contacto {
    width:25px;
    height: 25px;
  }

  .separador-contacto {
    height: 250px;
  }

  .sidebar {
    width: 250px;
    font-family: 'Montserrat-Regular', sans-serif ;
    opacity: 0.9;
  }

  .sidebar-icono-close {
    font-size: 1.2rem;
    padding-top:10px;
    padding-right: 20px; 
  }
  
  .sidebar-item {
      font-size: 0.7rem;
    }

  .sidebar-subitem {
      font-size: 0.6rem;
      margin-left: 15%;
  }

  .sidebar-burger {
      font-size: 1.2rem;
      padding-top:10px;
      padding-right: 10px;
    }  


}
/*
@media screen and (min-width:537px) and (max-width: 768px) {

    .sidebar-item {
      font-size: 1.1rem;
    }

    .sidebar-burger {
      font-size: 1.3rem;
      padding:10px 15px;
    }
}
*/


/*--------- PANTALLA MUY GRANDE ------------*/
@media screen and (min-width:1440px) {

  .sidebar-item {
    font-size: 1.5rem;
  }

  .sidebar-burger {
    font-size: 3rem;
    padding:10px 25px;
  }

  .texto-home {
    position: absolute;
    top: 478px;
    left: 170px; 
    font-family: Playfair-Regular; 
    font-size: 4rem; 
    line-height: 1.2;
  }

  .subtexto-home {
    position: absolute;
    top: 730px;
    left: 170px; 
    font-family: Montserrat-Regular; 
    font-size: 1.5rem; 
    line-height: 1.2;
    letter-spacing: 2px;
  }

  .subsubtexto-home {
    position: absolute;
    top: 770px;
    left: 170px; 
    font-family: Montserrat-Regular; 
    font-size: 1.1rem; 
    line-height: 1.2;
  }

  .boton-argentina {
    position: absolute;
    top: 850px;
    left: 170px;
    width: 250px;
    height: 50px; 
    font-size: 1.4rem;
  }
 

  .boton-portugal {
    position: absolute;
    top: 850px;
    left: 500px;
    width: 250px;   
    height: 50px; 
    font-size: 1.4rem;
  }

  .linea-redes-home {
    position: absolute;
    top: 950px;
    left: 170px;    
    font-family: Montserrat-Regular; 
    font-size: 1.3rem; 
    color: gray;
  }

  .subrayadoDoradoSomos {    
    height: 2px;
    max-width: 9%;
  }

  
  .cuadrado-standard {
    margin-top: 180px; 
    width: 500px; 
    height: 500px;     
    font-size: 3.8rem; 
    padding-top: 210px;    
  }

  .cuadrado-garantia {
    margin-top: 180px; 
    width: 500px; 
    height: 500px; 
    font-size: 3.8rem; 
    padding-top: 170px;  
  }

  .link-cuadrado-producto {
    font-size: 2rem !important;     
  }


  .sidebar-icono-close {
    font-size: 2.2rem;
    padding-top:20px;
    padding-right: 30px; 
  }
}
